.images_bu {
	height: 33%;
}

.SpotInterest {
	height: 63%;
	top: 30%;
}

.messages_bu {
	height: 44.5%;
}

.mes_list_bu {
	text-align: left;
	margin: 0;
	padding: 0 8%;
	top: 10.6%;
}

.controls_bu {
	height: 22.5%;
}