.--st_con {
	left: 79.2%;
	top: 38.5%;
}

.--nd_con {
	left: 63.2%;
	top: 77.7%;
}

.--rd_con {
	left: 7.8%;
	top: 75.8%;
}

.--th_con {
	left: 12%;
	top: 18.2%;
}

.images_con {
	height: 26.2%;
}

.messages_con {
	height: 50.4%;
}

.mes_con_0 {
	top: 12%;
}

.mes_con_1 {
	top: 19.8%;
}

.mes_con_2 {
	top: 26.8%;
}

.controls_con {
	height: 23.4%;
}