.messages_mon {
	height: 39.4%;
}

.--fh_mon {
	top: 16.2%;
}

.mes_0_mon {
	top: 27%;
}

.mes_1_mon {
	top: 36.8%;
}

.images_mon {
	height: 37.8%;
}

.PersikHungry {
	height: 88.6%;
}

.controls_mon {
	height: 22.8%;
}

.images_paid_mon {
	height: 50.6%;
}

.PersikGlad_container {
	top: 41%;
	height: 100%;
}

.PersikGlad {
	height: 54%;
}

.messages_paid_mon {
	height: 11.2%;
}

.controls_paid_mon {
	height: 38.2%;
}