.--st_nt {
	left: -6%;
	top: 36.5%;
	transform: rotate(-41.93deg);
}

.--nd_nt {
	display: none;
}

.--rd_nt {
	left: 77%;
	top: 14%;
}

.--th_nt {
	left: 89.5%;
	top: 64.5%;
	transform: rotate(-30deg);
}

.messages_nt_1 {
	height: 25%;
}

.--fh_nt {
	top: 7%;
}

.mes_nt_0 {
	top: 21.6%;
}

.images_nt {
	height: 41%;
}

.PushExample {
	height: 92.2%;
}

.messages_nt_2 {
	height: 11.3%;
}

.controls_nt {
	height: 22.7%;
}
.--cs_nt {
	top: 14%;
}