.messages_nt_1 {
	height: 25%;
}

.--fh_nt {
	top: 7%;
}

.mes_nt_0 {
	top: 21.6%;
}

.images_nt {
	height: 41%;
}

.PushExample {
	height: 92.2%;
}

.messages_nt_2 {
	height: 11.3%;
}

.controls_nt {
	height: 22.7%;
}
.--cs_nt {
	top: 14%;
}