.messages_1_sp {
	height: 71.5%;
}

.--fh_sp {
	top: 9%;
}

.mes_0_sp {
	top: 14.5%;
}

.mes_1_sp {
	top: 19.4%;
}

.mes_2_sp {
	top: 24.6%;
}

.controls_cam {
	top: 29.2%;
}

.controls_cam_android {
	top: 33.5%;
}

.controls_vib {
	top: 32%;
}

.controls_light {
	top: 34.4%;
}

.controls_light_android {
	top: 40.4%;
}

.messages_2_sp {
	height: 11.8%;
}

.mes_3_sp {
	top: 13%;
}

.controls_2_sp {
	height: 16.7%;
}

.messages_1_info_sp {
	height: 73.4%;
}

.SpotMobile {
	height: 41.8%;
}

.mes_0_web_sp {
	top: 10.8%;
}

.mes_1_web_sp {
	top: 17.4%;
}

.list_sp {
	height: 26.6%;
}

.mes_list_sp {
	top: 9%;
}