.--st_st {
	left: 90.5%;
	top: 14%;
}

.--nd_st {
	left: 84%;
	top: 79.5%;
}

.--rd_st {
	left: -10.4%;
	top: 61.4%;
}

.--th_st {
	left: 12%;
	top: 18.2%;
}

.images_st {
	height: 44.4%;
}

.SpotRelax {
	height: 49.4%;
	top: 41.8%;
}

.messages_st {
	height: 28.8%;
}

.mes_st_0 {
	top: 19.2%;
}

.controls_st {
	height: 26.8%;
}